<div data-bind="foreach: messages">
	<div class="header octopull-message" data-bind="css: 'octopull-message-' + $data.level">
		<div class="container">
			<div class="octopull-message-actions" data-bind="foreach: $data.actions">
				<a data-bind="attr: { href: $data.href }, text: $data.title" class="btn btn-sm"></a>
			</div>
			<div class="octopull-message-content">
				<span class="octopull-message-title" data-bind="text: $data.title"></span>
				<span class="octopull-message-body" data-bind="text: $data.message"></span>
			</div>
		</div>
	</div>
</div>