.octopull-message {
	vertical-align: middle;
}

.octopull-message-content {
	float: left;
}
	
.octopull-message-title {
	font-weight: bold;
	font-size: 1.1em;
	display: block;
}

.octopull-message-body {
	vertical-align: middle;
}

.octopull-message-actions {
	float: right;
	line-height: 40px;
	vertical-align: middle;
}

.octopull-message-actions .btn {
	display: inline;
}

div.octopull-message-error {
	background-color: #ffdddd;
}

div.octopull-message-warning {
	background-color: #ffefc6;
}

div.octopull-message-info {
	background-color: #e8f0f8;
}

.octopull-loader {
	height: 0px;
	overflow: hidden;
	background-color: #adcff5;
	-webkit-transition: height 0.1s ease-in;
}

.octopull-loader.loading {
	height: 5px;
	-webkit-transition: height 0.1s ease-out;
}

@-webkit-keyframes indeterminate {
	0% { left: 0%; width: 0%; }
    33% { left: 0%; width: 50%; }
	66% { left: 50%; width: 50%; }
	100% { left: 100%; width: 0%; }
}

.octopull-loader.loading .octopull-loader-bar {
	position: relative;
	height: 50px;
	left: 10%;
	width: 30%;
	background-color: #3f8af5;
	-webkit-animation-name: indeterminate;
	-webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
}